html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-image: linear-gradient(to bottom, #8eb87f, #418682);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  background-color: rgba(255, 255, 255, 0.137);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 40px;
  display: flex;
  place-items: center;
  max-width: 1200px;
  color: rgb(67, 67, 67);
  position: relative; /* Add this */
  padding-top: 70px;
  min-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 25px;
  height: 45px;
  margin: 5px;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 36px;
  background: none;
}
input:focus {
  border-bottom: 3px solid rgb(117, 198, 136);
  outline: none;
}
p {
  color: white;
  font-size: 20px;
  font-family: system-ui;
  position: absolute; /* Add this */
  top: 0; /* Add this */
  left: 50%; /* Add this */
  transform: translateX(-50%); /* Add this */
  width: max-content;
}
